 <div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">{{ idStudent ? 'Edit' : 'Add' }} Student</div>
            <div class="card-body">

                <form [formGroup]="form" (ngSubmit)="save()">                    

                    <div class="mb-6">
                        <label for="idPerson" class="form-label">Select Person</label>
                        <select id="idPerson" class="form-select" formControlName="idPerson">
                            <option value="">-- Choose one --</option>
                            @for (person of persons; track person.idPerson) {
                                <option [value]="person.idPerson">
                                {{ person.name }}
                                </option>
                            }
                        </select>                    
                    </div>
                     @if (form.get('idPerson')?.errors?.['required']) {
                        <div class="invalid-feedback">
                            <div>Person is required.</div>
                        </div>
                    }

                    <div class="mb-3">
                        <label for="averageMark" class="form-label">Average Mark</label>
                        <input
                            type="number"                            
                            class="form-control"
                            id="averageMark"
                            formControlName="averageMark"
                            min="0"
                            max="100"
                            step="0.01"
                            placeholder="0 - 100"
                        />
                    </div>
                    @if (form.get('averageMark')?.errors?.['required']) {
                        <div class="invalid-feedback">
                            <div>Average Mark is required.</div>
                        </div>
                    }

                    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Login</button>
                    <button mat-raised-button color="warn" routerLink="/students">Cancel</button>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>

