<div class="container">
    <h2 class="text-center mt-5 mb-3">Professors List</h2>

    <div class="card">
        <div class="card-header">
            <a routerLink="/professors/new" class="btn btn-primary mb-3">Add Person</a>
        </div>
        <div class="card-body">

        <div class="table-responsive">

            <mat-table class="professors-table mat-elevation-z8" [dataSource]="dataSource"
               matSort matSortActive="idProfessor" matSortDirection="asc" matSortDisableClear>             

                <ng-container matColumnDef="idProfessor">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                    <mat-cell *matCellDef="let lstProfessors">{{lstProfessors.idProfessor}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell class="name-cell"
                            *matCellDef="let lstProfessors">{{lstProfessors.name}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="phone">
                    <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
                    <mat-cell class="phone-cell"
                            *matCellDef="let lstProfessors">{{lstProfessors.phone}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                    <mat-cell class="email-cell"
                            *matCellDef="let lstProfessors">{{lstProfessors.email}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="salary">
                    <mat-header-cell *matHeaderCellDef>Salary</mat-header-cell>
                    <mat-cell class="salary-cell"
                            *matCellDef="let lstProfessors">{{lstProfessors.salary}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef>Edit</th>
                    <td mat-cell *matCellDef="let lstProfessors">
                    <a [routerLink]="['/professors/edit', lstProfessors.idProfessor]">{{lstProfessors.name}}</a>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let lstProfessors">
                    <button mat-icon-button color="warn" (click)="deleteProfessor(lstProfessors.idProfessor)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    </td>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                
            </mat-table>

        </div>

        @if (totalItems>10) {
            <mat-paginator [length]="totalItems" [pageSize]="pageSize"
                           [pageSizeOptions]="[10, 20, 30, 40, 50]"></mat-paginator>
        }

        </div>
    </div>
</div>
